@model IEnumerable<Leyre.University.Dto.Dtos.StudentDto>

@{
    ViewData["Title"] = "Students";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<a asp-action="Create">
    <input type="submit" value="Create New" class="btn btn-success" />
    <br /><br />
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@if (ViewBag.Courses != null)
{

    var listCourses = (IEnumerable<Leyre.University.Model.Entities.CourseModel>)ViewBag.Courses;

    <h3>
        Courses Enrolled in Selected Student
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
        </tr>

        @foreach (var item in listCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
        }
    </table>
}
